.wrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.title{
    font-family: 'Orchidea Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    display: flex;
    text-transform: uppercase;
    color: #141414;
    margin-left: 260px;
}
