.footer{
}
.wrapper{
    display: flex;
    height: 200px;
    background: #141414;
    align-items: flex-end;
    justify-content: center;
}
.footerText{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}